* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*GENERAL*/
.background_color {
    background-color: #0f1837;
}

.adjust_img {
    width: 100%;
    
}

.li_no_style {
    list-style: none;
    padding: 0;
}

/*Fonts Famalys*/
.ff_gothic {
    font-family: "Science Gothic", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}
.ff_bitcount {
    padding: 1rem;
    color: #1e9201;
    font-family: "Bitcount Grid Double", system-ui;
    font-size: 3rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}


/*HEADER*/
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 6rem;
    padding: 0px 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_style {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
}
.header_style:hover {
    text-decoration: none;
}


#menu {
    position: fixed;
    top: 1rem;
    right: 3rem;
    padding: 3rem;
    display: none;
}



/*MAIN*/
main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    width: 100%;
    min-height: 100vh;
    padding: 6rem 10rem 4rem 10rem;
    scroll-snap-align: start;
    color: white;
}

.slide_title {
    font-size: 2rem;
    position: relative;
    text-align: center;
    color: orange;
}
.slide_title::before {
    content: "";
    height: 0.2rem;
    width: 50vw;
    background-color: orange;
    position: absolute;
    top: 50%;
    right: 0;
    z-index:-2;
}
.slide_title::after, #about h4::after{
    content: "";
    height: 0.2rem;
    width: 50vw;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 0;
    z-index:-2;
}
span {
    padding: 0 1rem;
}



/*Hero Section*/
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
#hero h1 {
    font-size: 8rem;
    padding: 2rem;
    font-weight: bolder;
}
#hero h3 {
    padding-bottom: 6rem;
    font-size: 1.5rem;
}


/*About Section*/
#about_info, #education_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#about h4 {
    font-size: 1.3rem;
    position: relative;
    color: orange;
}



/*Education Div*/


/*Experience Div*/



/*Projects Div*/



/*Contact Div*/



/*Container style*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container  {
    width: 95%;
    padding: 1rem 0;
    display: flex;
}

.front-information{
    width: 40%;
    padding-right: 1rem;
}

/*titles {
    line-height: 0.5rem;
}*/
.titles h3 {
    font-weight: bolder;
}
.titles h4 {
    font-weight: lighter;
}

.side-information {
    padding-top: 1.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skills li {
    padding: 0.5rem;
    margin: 0.3rem 0.5rem;
    font-weight: bolder;
    background-color: rgba(27, 56, 117, 0.5);
    border-radius: 9999px;
}


/*FOOTER*/
footer {
    display: none;
}

