* {
    box-sizing: border-box;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #5a6e96;
}

/*General*/
.adjust_img {
    width: 100%;
    height: 100%;
}

.li_no_style {
    list-style: none;
}


/*HEADER*/
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 6.5rem;
    padding: 0px 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #1b3875;
    display: flex;
    justify-content: space-between;
}

#header_icons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_contact {
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_icons a {
    padding: 0.6rem 0.3rem;
    color: #5a6e96;
    background-color: #e0dce6;
    border: 0.125rem solid ;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: background-color 0.5s;
}

#header_icons a:hover {
    color: white;
    background-color: #8741f0;
    transition: background-color 1s;
}

#header_contact a {
    padding: 0.6rem 0.3rem;
    color: #5a6e96;
    background-color: #e0dce6;
    border: 0.125rem solid ;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: background-color 0.5s;
}

#header_contact a:hover {
    color: white;
    background-color: #8741f0;
    transition: background-color 1s;
}



/*MAIN*/
main {
    position: relative;
    top: 6.5rem;
    display: flex; 
}

/*Hero Section*/
#hero {
    position: fixed;
    width: 40%;
    height: 100%;
    padding-top: 1rem;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}
#iam {
    grid-area: 1/6/4/8;
}
#myimage {
    grid-area: 5/3/12/11;
}
#mycv {
    grid-area: 1/11/9/20;
}
#list {
    grid-area: 12/4/19/18;
    list-style: none;
}

#iam h1 {
    text-align: center;
    font-size: 1.5rem;
}

#myimage img {
    width: 100%;
    border: solid #1b3875 0.5rem;
    border-radius: 90%;
}

#list li {
    margin: 0.5rem 0;
}
#list a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
#list a:hover {
    font-size: 1.1rem;
    /*Adicionar uma setinha*/
}



/*Information Section*/
#information {
    position: relative;
    left: 40%;
    width: 60%;
}

/*Home Div*/
/*#home {
    flex-direction: column;
    justify-content: space-around;
}*/


/*About Div*/
#about {
    display: none;
}


/*Education Div*/
#education {
    display: none;
}


/*Experience Div*/
#experience {
    display: none;
}


/*Container style*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container  {
    width: 95%;
    padding: 1rem 0;
    display: flex;
}

.front-information{
    width: 40%;
    padding-right: 1rem;
}

/*titles {
    line-height: 0.5rem;
}*/
.titles h3 {
    font-weight: bolder;
}
.titles h4 {
    font-weight: lighter;
}

.side-information {
    padding-top: 1.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skills li {
    padding: 0.5rem;
    margin: 0.3rem 0.5rem;
    font-weight: bolder;
    background-color: rgba(27, 56, 117, 0.5);
    border-radius: 9999px;
}




